
.title{
    position: absolute;
    width: 156px;
    height: 42px;
    left: 35px;
    top: 30px;
    margin: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}



.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 60px;
    position: absolute;
    width: 380px;
    height: 29px;
    left: 24px;
    top: 92px;   
}

a{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

